{% extends "base.html" %}
{% load static %}


{% block tasks-toolbar-title %}
	Critical Tasks
{% endblock %}

{% block tasks-toolbar-icon %}
	<img class="listTitleIcon" src="/static/img/exclamation-triangle.svg" alt="Bootstrap" width="22" height="22">
{% endblock %}

{% block tasks-existence-check %}
	{% if all_critical_tasks %}
		{% block task-iterator %}
			{% for task in all_critical_tasks %}
				{% block content %}
					<div class="task-container" style="background-color: white; margin-top: 5px;">
						<div>
							<div class="taskItem">
								<div class="hover" style="border-radius: 4px; padding: 0 16px; min-height: 52px; display: flex; align-items: center; position: relative; word-wrap: break-word; word-break: break-word; flex-wrap: wrap;">
									<span style="padding: 0; cursor: pointer; height: 32px; width: 32px; position: relative; display: flex; align-items: center; justify-content: center;">
										<input class="form-check-input" style="margin: 0; height: 1.1em; width: 1.1em" type="checkbox" id="checkboxNoLabel" value="" aria-label="..." />
									</span>
									<button style="position: relative; flex: 1 1 0; min-height: 52px; padding: 8px 14px; line-height: 2rem; overflow: hidden; cursor: pointer; color: #323130; text-align: left; background: none; width: 100%; height: 100%; border: none; box-shadow: none;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
									aria-controls="offcanvasRight">
										<span class="task-title" style="margin: 0; font-size: 16px">{{ task.name }}</span>
										{% if task.deadline %}
											<div class="deadline-info-box">
												<span class="deadline-info-container">
													<span class="deadline-info">
														<img class="deadline-info-icon" src="/static/img/calendar-deadline.svg" alt="Bootstrap" width="12" height="12">
														<span class="deadline-info-text">Deadline: {{ task.deadline }}</span>
													</span>
												</span>

											</div>
										{% endif %}
									</button>
										<div class="offcanvas offcanvas-end" style="background: #edebe9" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
											<div style="padding: 0 16px 0 24px; flex: 1; margin-top: 16px">
												<div class="offcanvas-header">
												<h5 class="offcanvas-title" id="offcanvasRightLabel"><span>Task detail</span></h5>
												<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
											</div>
												<div class="offcanvas-body">
													...
												</div>
											</div>
										</div>
									<div class="set-priority-container">
										<span class="task-title">{{ task.priority }}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endblock %}
			{% endfor %}
		{% endblock %}
	{% endif %}
{% endblock %}
