{% extends "base.html" %}
{% load static %}

{% block content %}
	<link rel="stylesheet" href="{% static 'css/tasks.css' %}">
	<span id="centerColumn">
		<div id="main" role="main">
			<div class="tasksToolbar">
				<div class="tasksToolbar-top">
					<div class="tasksToolbar-headline">
						<div class="tasksToolbar-titleItem">
							<h2 class="listTitle">
								<img class="listTitleIcon" src="/static/img/house-door.svg" alt="Bootstrap" width="25" height="25">
								<span class="listTitleText">All Tasks</span>
							</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="flex-container">
				<div class="list-group">
					<div class="task-container">
						<label class="list-group-item d-flex" style="cursor: pointer">
							<input class="form-check-input flex-shrink-0 " type="checkbox" value=""
										 style="font-size: 1.375em; margin-top: 12px; cursor: pointer">
							<span class="pt-1 form-checked-content">
								<span class="task-title">Finish sales report</span>
								<small class="d-block text-muted">
									<svg class="bi me-1" width="1em" height="1em"><use xlink:href="#calendar-event"></use></svg>
									1:00–2:00pm
								</small>
							</span>
						</label>
					</div>
					<div class="task-container">
						<label class="list-group-item d-flex" style="cursor: pointer">
							<input class="form-check-input flex-shrink-0" type="checkbox" value=""
										 style="font-size: 1.375em; margin-top: 12px; cursor: pointer">
							<span class="pt-1 form-checked-content">
								<span class="task-title">Weekly All Hands</span>
								<small class="d-block text-muted">
									<svg class="bi me-1" width="1em" height="1em"><use xlink:href="#calendar-event"></use></svg>
									2:00–2:30pm
								</small>
							</span>
						</label>
					</div>
				</div>
			</div>
		</div>
	</span>
{% endblock %}
