{% extends "base.html" %}
{% load static %}


{% block tasks-toolbar-title %}
	Low Tasks
{% endblock %}

{% block tasks-toolbar-icon %}
	<img class="listTitleIcon" src="/static/img/exclamation-circle.svg" alt="Bootstrap" width="22" height="22">
{% endblock %}

{% block tasks-existence-check %}
	{% if low_tasks %}
		{% block task-iterator %}
			{% for task in low_tasks %}
				{% block content %}
					{% include "includes/task-list.html" %}
				{% endblock %}
			{% endfor %}
		{% endblock %}
	{% else %}
		<span class="mt-4">You don't have low tasks yet</span>
	{% endif %}
{% endblock %}
