{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}

{% block tasks-toolbar %}
	<link rel="stylesheet" href="{% static 'css/task-form.css' %}">
	<span id="centerColumn">
		<div id="main" role="main">
			<div class="tasksToolbar">
				<div class="tasksToolbar-top">
					<div class="tasksToolbar-headline">
						<div class="tasksToolbar-titleItem">
							<h2 class="listTitle">
								{% if object %}
									<img class="listTitleIcon" src="/static/img/arrow-clockwise.svg" alt="Bootstrap" width="22" height="22">
									<span class="listTitleText">Update Task</span>
								{% else %}
									<img class="listTitleIcon" src="/static/img/plus-lg.svg" alt="Bootstrap" width="22" height="22">
									<span class="listTitleText">Create Task</span>
								{% endif %}
							</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="create-task-container">
				<form method="POST" action="" novalidate> {% csrf_token %}
					<div class="create-task-form-box">
						<div class="mb-3">
							<label for="id_name" class="form-label">What should you do?</label>
							{% if object %}
								<input class="textinput textInput form-control" id="id_name" value="{{ task.name }}" maxlength="255" name="name" required="" type="text">
							{% else %}
								<input class="textinput textInput form-control" id="id_name" maxlength="255" name="name" required="" type="text">
							{% endif %}
						</div>
						<div class="mb-3">
							<label for="id_description" class="form-label">Comment</label>
							<textarea class="textarea form-control" cols="40" id="id_description" name="description" rows="4">{{ task.description }}</textarea>
						</div>
						<div class="d-flex">
							<div class="create-task-deadline-box">
								<span class="create-task-deadline-title">Deadline</span>
								<div style="height: 8px;"></div>
									<div class="input-group date" id="datetimepicker1" data-target-input="nearest">
										<label for="id_deadline">
											<input style="width: 232.36px; height: 38px; border: 1px solid #ced4da; border-radius: 0.375rem; padding: 0.375rem 0.75rem 0.375rem 0.75rem;" placeholder="{{ task.deadline }}" id="id_deadline" type="date" name="deadline"/>
										</label>
{#										<div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">#}
{#											<div class="input-group-text"><i class="fa fa-calendar"></i></div>#}
{#										</div>#}
{#										<script>#}
{#											$(function () {$("#datetimepicker1").datetimepicker();});#}
{#										</script>#}
									</div>
								</div>
							<div style="height: 70px; flex: 1 1 0; margin-bottom: 16px">
								<div class="create-task-priority-box">
									<div style="margin-left: 40px">
										<div id="div_id_priority">
											<label for="id_priority">Priority</label>
										</div>
											<div class="priority-selector">
												<select id="id_priority" name="priority" class="form-select">
													<option selected>
														{% if object %}
															{{ task.priority }}
														{% else %}

														{% endif %}
													</option>
													{% for priority in priorities %}
														<option value="{{ priority }}">{{ priority }}</option>
													{% endfor %}
												</select>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="d-flex">
							<div style="height: 70px; margin-bottom: 16px; width: 232.36px;">
								<div class="create-task-assignees-box">
									<div>
										<div class="create-task-assignees-title">
											<label for="id_assignees">Assignees</label>
										</div>
											<div class="priority-selector">
												<select id="id_assignees" name="assignees" class="form-select">
													<option selected>
														{% if object %}
															{{ task.assignees }}
														{% else %}

														{% endif %}
													</option>
													{% for worker in workers %}
														<option value="{{ worker }}">{{ worker }}</option>
													{% endfor %}
												</select>
										</div>
									</div>
								</div>
							</div>
							<div style="height: 70px; margin-bottom: 16px; flex: 1 1 0">
								<div class="create-task-task-type-box">
									<div style="margin-left: 40px">
										<div class="create-task-task-type-title">
											<label for="id_task_type">Task Type</label>
										</div>
											<div class="priority-selector">
												<select id="id_task_type" name="task_type" class="form-select">
													<option selected>
														{% if object %}
															{{ task.task_type }}
														{% else %}

														{% endif %}
													</option>
													{% for task_type in task_types %}
														<option value="{{ task_type.name }}">{{ task_type.name }}</option>
													{% endfor %}
												</select>
										</div>
									</div>
								</div>
							</div>
						</div>
{#						{{ form|crispy }}#}
						<div class="d-inline-block">
							<input class="create-task-button" type="submit" value="Submit">
						</div>
					</div>
				</form>
			</div>
		</div>
	</span>
{% endblock %}
