{% extends "app/profile.html" %}

{% block profile_info %}
<div class="card mb-3">
	<form action="{% url "users:update-profile" %}" method="post" enctype="multipart/form-data"> {% csrf_token %}
		<div class="card-body">
			<div class="row mb-3">
				<div class="col-sm-3">
					<h6 class="mb-0">Name</h6>
				</div>
				<div class="col-sm-9 text-secondary">
					<input name="first_name" type="text" class="form-control" value="{{ worker.first_name }}">
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-sm-3">
					<h6 class="mb-0">Surname</h6>
				</div>
				<div class="col-sm-9 text-secondary">
					<input name="last_name" type="text" class="form-control" value="{{ worker.last_name }}">
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-sm-3">
					<h6 class="mb-0">Username</h6>
				</div>
				<div class="col-sm-9 text-secondary">
					<input name="username" type="text" class="form-control" value="{{ worker.username }}">
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-sm-3">
					<h6 class="mb-0">Main Language</h6>
				</div>
				<div class="col-sm-9 text-secondary">
					<input name="main_programming_language" type="text" class="form-control" value="{{ worker.profile.main_programming_language }}">
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-sm-3">
					<h6 class="mb-0">Phone</h6>
				</div>
				<div class="col-sm-9 text-secondary">
					<input name="phone" type="text" class="form-control" value="{{ worker.profile.phone }}">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-9 text-secondary">
					<input type="submit" class="btn addTaskButton" value="Save Changes">
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock %}
