asgiref==3.5.2
beautifulsoup4==4.11.1
Django==4.1.4
django-bootstrap-v5==1.0.11
django-crispy-forms==1.14.0
django-livereload==1.7
django_debug_toolbar==3.8.1
exceptiongroup==1.0.4
generic==1.1.1
livereload==2.6.3
Pillow==9.3.0
psycopg2==2.9.5
python-dotenv==0.21.0
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
tornado==6.2
