html body {
    font-family: Segoe, Arial, sans-serif;
}

#app {
    display: flex;
    flex: 1 1 0px;
    will-change: width;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

a {
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: white;
}

.hover:hover {
    background: #f5f5f5;
}

.centerColumn {
    flex: 1 1 0px;
    display: flex;
    overflow: hidden;
}
