#main {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #faf9f8;
}

#centerColumn {
	flex: 1 1 0;
	display: flex;
	overflow: hidden;
	height: 94.1vh;
}

a:hover{
    text-decoration: none;
    color: white;
}

.tasksToolbar {
    height: auto;
    display: block;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    margin: 16px 24px;
}

.tasksToolbar .tasksToolbar-top {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 48px;
}

.tasksToolbar-headline {
    margin-right: 12px;
    min-width: 100px;
    flex: 1 1 0;
    display: flex;
}

.tasksToolbar-titleItem {
    min-width: 20px;
    flex: 1 1 0;
}

.listTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 2rem;
    font-weight: 400;
    padding: 6px 8px;
}

.listTitleIcon {
    margin-right: 8px;
}

.listTitleText {
    font-family: Segoe, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
}

.addTaskButton {
	background: #2564cf;
	border: #2564cf;
	border-radius: 0.375rem;
	box-shadow: none;
	text-decoration: none;
	color: white;
	padding: 6px 12px;
}

.addTaskButton:hover {
	background: #1d55af;
	border: #1d55af;
	color: white;
	box-shadow: none;
	text-decoration: none;
}

.flex-container {
    position: relative;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.list-group {
    margin-left: 34px;
    margin-right: 34px;
}

.task-container {
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
}

.hover:hover {
    background: #f5f5f5;
}

.taskItem {
    display: flex;
    flex-direction: column;
}

.task-title {
    font-family: Segoe, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
}

.make-important-button {
    cursor: pointer;
    text-align: center;
    height: 22px;
    width: 22px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.deadline-info-box {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #605e5c;
    flex-wrap: wrap;
}

.deadline-info-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.deadline-info {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.deadline-info-icon {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.deadline-info-text {
    margin-left: 4px;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    font-style: normal;
}

/*.detail-body {*/
/*	padding: 0 16px 0 24px;*/
/*	flex: 1;*/
/*	margin-top: 16px;*/
/*}*/

.textarea-change-name-task:active {
	color: black;
}
