{% load crispy_forms_filters %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<nav id="navbar" class="navbar navbar-expand-lg navbar-dark" style="padding: 0" aria-label="Eighth navbar example">
	<div class="container-fluid">
		<a class="navbar-brand" style="margin-left: 32px; font-size: 20px; font-weight: 400; font-style: normal;
		line-height: 48px; padding: 0" href="{% url "app:index" %}">Task Manager</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07"
						aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExample07">
			<ul class="me-auto">
			</ul>
			<form action="" method="get" role="search">
				<div id="div_id_name">
					<div>
						<input class="textinput textInput form-control" placeholder="Search" id="id_name" maxlength="255" name="name" required="" type="text">
					</div>
				</div>
			</form>
		</div>
	</div>
</nav>
