<div class="card mb-3">
	<div class="card-body">
		<div class="row">
			<div class="col-sm-3">
				<h6 class="mb-0">Name</h6>
			</div>
			<div class="col-sm-9 text-secondary">
				Yan Purdenko
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-3">
				<h6 class="mb-0">Surname</h6>
			</div>
			<div class="col-sm-9 text-secondary">
				Purdenko
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-3">
				<h6 class="mb-0">Username</h6>
			</div>
			<div class="col-sm-9 text-secondary">
				admin
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-3">
				<h6 class="mb-0">Email</h6>
			</div>
			<div class="col-sm-9 text-secondary">
				admin@admin.com
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-3">
				<h6 class="mb-0">Phone</h6>
			</div>
			<div class="col-sm-9 text-secondary">
				+38 (095) 021-9060
			</div>
		</div>
		<hr>
		<div class="d-flex" style="justify-content: space-between">
			<div class="row">
				<div class="col-sm-12">
					<a class="btn addTaskButton" href="#"><span>Edit</span></a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<button class="btn addTaskButton">Change password</button>
				</div>
			</div>
		</div>
	</div>
</div>
