{% load static %}

<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<div class="d-flex flex-column flex-shrink-0 p-3 bg-white" style="width: 280px; height: 93.2vh;
	display: inline-block; margin-top: 11px">
	<div>
		<span class="sidebar-title">Lists</span>
			<img class="sidebar-list-svg" src="/static/img/list.svg" alt="Bootstrap" width="20" height="20">
	</div>
	<hr>
	<ul class="nav nav-pills flex-column mb-auto">
		<li class="sidebar-list">
			<a href="#" class="nav-link link-dark">
				<div style="display: flex">
					<div>
						<img class="sidebar-svg" src="/static/img/calendar.svg" alt="Bootstrap" width="16" height="16">
						<span class="sidebar-list-title">Today</span>
					</div>
					<div style="flex: 1 1 0; display: flex; align-items: center; justify-content: right">
						<span class="sidebar-list-title" style="font-size: 14px">4</span>
					</div>
				</div>
			</a>
		</li>
		<li class="sidebar-list">
			<a href="{% url "app:critical-task" %}" class="nav-link link-dark">
				<div style="display: flex">
					<div>
						<img class="sidebar-svg" src="/static/img/exclamation-triangle.svg" alt="Bootstrap" width="16" height="16">
						<span class="sidebar-list-title">Critical</span>
					</div>
					<div style="flex: 1 1 0; display: flex; align-items: center; justify-content: right">
						<span class="sidebar-list-title" style="font-size: 14px">{% block critical-count %}  {% endblock %}</span>
					</div>
				</div>
			</a>
		</li>
		<li class="sidebar-list">
			<a href="{% url "app:index" %}" class="nav-link link-dark">
				<div style="display: flex">
					<div>
						<img class="sidebar-svg" src="/static/img/house-door.svg" alt="Bootstrap" width="16" height="16">
						<span class="sidebar-list-title">All Tasks</span>
					</div>
					<div style="flex: 1 1 0; display: flex; align-items: center; justify-content: right">
						<span class="sidebar-list-title" style="font-size: 14px">4</span>
					</div>
				</div>
			</a>
		</li>
		<li class="sidebar-list">
			<a href="#" class="nav-link link-dark">
				<div style="display: flex">
					<div>
						<img class="sidebar-svg" src="/static/img/people.svg" alt="Bootstrap" width="16" height="16">
						<span class="sidebar-list-title">Workers</span>
					</div>
					<div style="flex: 1 1 0; display: flex; align-items: center; justify-content: right">
						<span class="sidebar-list-title" style="font-size: 14px">4</span>
					</div>
				</div>
			</a>
			<hr>
		</li>
	</ul>
	<hr>
	<div class="dropdown">
		<a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
			<img src="/static" alt="" width="32" height="32" class="rounded-circle me-2">
			<span class="sidebar-list-title">Username</span>
		</a>
		<ul class="dropdown-menu text-small shadow">
			<li><a class="dropdown-item" href="#">New list...</a></li>
			<li><a class="dropdown-item" href="#">Settings</a></li>
			<li><a class="dropdown-item" href="#">Profile</a></li>
			<li><hr class="dropdown-divider"></li>
			{% if user.is_authenticated %}
				<li><a class="dropdown-item" href=" {% url "login" %}">Sign out</a></li>
			{% else %}

			{% endif %}
		</ul>
	</div>
</div>
